<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="My page is about something"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="Myself"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="./style.css"/>
    <title>My Webpage | Welcome</title>
</head>

<body>

<header>
    <div class="container">
        <div id="title">
            <a href="index.html">Here's a Title</a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="archive.html">Archive</a></li>
            </ul>
        </nav>
    </div>
</header>

<article class="post">
    <div class="container">
        <h2> {{ title }} </h2>
        {{ content | indent(12) }}
    </div>
</article>

</body>

</html>